* {
    box-sizing: border-box;
}
body {
    margin: auto;
    padding:2em;
}
h1 {
    color: white;
}
.row {
    padding:1rem;
}
.barra {
    background-color: pink;
}
.cajaborde {
    border-style: solid;
    border-color:blue;
    height:30vh;
}